---
---

@import "{{ site.theme }}";

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:1000px;
  float:right;
  padding-bottom:50px;
}
