---
---

@import "{{ site.theme }}";

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:850px;
  float:right;
  padding-bottom:50px;
}

.wrapper {
  width:1210px;
  margin:0 auto;
}
